.filter
    grid-column span 16
    justify-self center
    align-self center
    display flex
    width 50%
    justify-content space-evenly
.button
  background-color #4CAF50
  border none
  color white
  padding 15px 32px
  text-align center
  text-decoration none
  display inline-block
  font-size 16px
  &:hover
    background white
    color Black
