#modal-container-layout
  width 100vw
  height 100vh
  position absolute
  left 0
  right 0
  top 0
  background-color rgba(0,0,0,0.4)
  display grid
  align-items center
  justify-items center
  z-index 1021
.Modal
    width: 100vw;
    background-color #121f3d
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    display: grid;
    align-items: center;
    height: 100vh;
    justify-items: center;
    grid-template-rows: 20% 80%;
.header-modal
  display grid
  justify-items center
  width: 50%;
  height: 100%;
  align-items: center;
  grid-template-columns: 80% 20%;
.body-modal
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: repeat(16, 1fr);
    justify-items: center;
    align-items: center;
.body-modal div
    grid-column: span 16;
    width: 100%;
    text-align: center;
.header-modal img
    width 50%
.Modal-close
  width 50px
  height 50px
  border-radius 50%
  border none
  background #171c30
  color white
  cursor pointer
  justify-self center
  position absolute
  right 1%
  top 1%
.Modal-close:after
  content "X"
  font-weight bold
  font-size 30px
