
b
    font-family Soleil-book
    font-size 16px
h1
    font-family Brownstd
    font-size 40PX
    line-height 40PX
    margin 0px
    color #636363
h3
    font-family Soleil-book
    font-size 30PX
    line-height 30px
    color #999ca2
    margin 0px
h4
    font-family Soleil-book
    font-size 14PX
    line-height 16PX
    color #636363
    margin 0px
h6
    font-family Soleil-book
    font-size 16PX
    line-height 16PX
    color #94a7b9
    margin 0px
a
    text-decoration none
    color #999ca2
p
    margin  0px
a:hover
    cursor pointer
html
    scroll-behavior smooth
body
    margin 0px
    font-family Soleil
    font-size 18px
    background-color #121f3d
    color white
.react-container
    display grid
    grid-template-rows 7vh 5vh 1fr
    justify-content center
.loader
    grid-column span 16

