.search
    grid-column span 16
    width 98%
    align-self center
.search input
    width 100%
    border-radius 6px
    border 0px solid white
    height 60px
    border 1px solid
.search span
    width auto
    margin 0px 10px
