.search
    grid-column span 16
    width 98%
    align-self center
    justify-self: center;
.search input
    width 98%
    border 0px solid white
    border 1px solid
.search span
    width auto
    margin 0px 10px
